<div class="inicioDiv">
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active ch" aria-current="page" href="/">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link ch" href="#servicios">Servicios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link ch" href="/trabajo">Nuestro trabajo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link ch" href="#contacto">Contacto</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link ch" href="/privacidad">Política de privacidad</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div data-draggable="true" style="position: relative;">
        <!---->
        <!---->
        <section draggable="false" class="overflow-hidden pt-0" data-v-271253ee="">
            <section class="mb-10">
                <!-- Background image -->
                <div class="p-5 text-center bg-image"
                    style="background-image: url(/assets/images/BN.jpg); height: 500px; background-size: cover; background-position: 50% 47%; background-color: rgba(0, 0, 0, 0);"
                    aria-controls="#picker-editor"></div> <!-- Background image -->
                <div class="container">
                    <div class="card mx-4 mx-md-5 text-center shadow-5-strong"
                        style=" margin-top: -170px; background: hsla(0, 0%, 100%, 0.7); backdrop-filter: blur(30px); ">
                        <div class="card-body px-4 py-5 px-md-5">
                            <h1 class="display-3 fw-bold ls-tight mb-4"> <span>El poder real,</span> <br>
                                <span class="" style="color: black;">está en la imagen que transmites.</span>
                            </h1> <a class="btn ch-bg  btn-lg py-3 px-5 mb-2 mb-md-0 me-md-2" href="#" role="button"
                                aria-controls="#picker-editor"
                                style="background-color: black; color:white; font-weight:bolder">Solicita
                                una asesoría</a> <a class="btn  btn-link btn-lg py-3 px-5 mb-2 mb-md-0"
                                data-ripple-color="primary" href="#" role="button" aria-controls="#picker-editor"
                                style="color: #D42930; font-weight:bolder">Saber más</a>
                        </div>
                    </div>
                </div>
            </section>
        </section>
        <!---->
    </div>
    <div data-draggable="true" style="position: relative;" id="servicios">
        <!---->
        <!---->
        <section draggable="false" class="container pt-5 serviciosDiv" data-v-271253ee="">
            <section class="mb-10 text-center">
                <h2 class="fw-bold mb-7 text-center">En cualquier ocasión</h2>
                <div class="row gx-lg-5">
                    <div class="col-lg-4 col-md-12 mb-6 mb-lg-0">
                        <div class="card shadow-2-strong">
                            <div class="bg-image hover-overlay ripple shadow-4-strong rounded mx-3"
                                data-mdb-ripple-color="light" style="margin-top: -15px"> <img
                                    src="/assets/images/empresarial.jpg" class="img-fluid" alt=""
                                    aria-controls="#picker-editor"> </div>
                            <div class="card-body">
                                <h5 class="card-title">Imagen corporativa</h5>
                                <hr style="color: #D42930; height:3px;">
                                <p class="card-text">Transmitir correctamente los valores de tu organización es
                                    importante para el desempeño que tengas en el mercado. <span
                                        style="color: black; font-weight: bolder;">Haz que tu equipo distinga a tu
                                        marca.</span></p> <a href="#contacto" class="btn ch-bg  btn-dark btn-rounded"
                                    aria-controls="#picker-editor">Cotizar</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-6 mb-lg-0">
                        <div class="card shadow-2-strong">
                            <div class="bg-image hover-overlay ripple shadow-4-strong rounded mx-3"
                                data-mdb-ripple-color="light" style="margin-top: -15px"> <img
                                    src="/assets/images/personal.jpg" class="img-fluid" alt=""
                                    aria-controls="#picker-editor"> </div>
                            <div class="card-body">
                                <h5 class="card-title">Asesoría personal</h5>
                                <hr style="color: #D42930; height:3px;">
                                <p class="card-text">El estilo es una herramienta poderosa para manifestar tus objetivos
                                    en la vida. <span style="color: black; font-weight:bolder">Vístete como te quieres
                                        sentir y permite al mundo conocer tu potencial</span>.
                                </p> <a href="#contacto" class="btn ch-bg btn-dark btn-rounded"
                                    aria-controls="#picker-editor">Cotizar</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-6 mb-lg-0">
                        <div class="card shadow-2-strong">
                            <div class="bg-image hover-overlay ripple shadow-4-strong rounded mx-3"
                                data-mdb-ripple-color="light" style="margin-top: -15px"> <img
                                    src="/assets/images/shopper.jpg" class="img-fluid" alt=""
                                    aria-controls="#picker-editor"> </div>
                            <div class="card-body">
                                <h5 class="card-title">Personal Shopper Internacional</h5>
                                <hr style="color: #D42930; height:3px;">
                                <p class="card-text">Serás asesorado desde cualquier parte del mundo<br>
                                    No tendrás ningún impedimento, <span
                                        style="color: black; font-weight:bolder">seremos tu equipo de asesores perfecto
                                        en cualquier país en el que te encuentres.</span></p>
                                <a href="#contacto" class="btn ch-bg btn-dark btn-rounded"
                                    aria-controls="#picker-editor">Cotizar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>
        <!---->
    </div>
    <div data-draggable="true" style="position: relative;">
        <!---->
        <!---->
        <section draggable="false" class="container pt-5 valueProposition" data-v-271253ee="">
            <section class="mb-10 text-center">
                <h2 class="fw-bold mb-5 text-center"> <span class="me-1">Conserva tu huella personal,</span><u class=""
                        style="color: #D42930;">compártela con los demás.</u> </h2>
                <div class="row gx-lg-5">
                    <div class="col-md-4 mb-5 mb-md-0">
                        <div class="p-3 bg-dark rounded-4 shadow-2-strong d-inline-block mb-4 ch-bg pointer"
                            onclick="location.href='#contacto';"> <i class="fa-brands fa-black-tie fa-lg"
                                style="color: white;"></i> </div>
                        <h5 class="fw-bold mb-3">La imagen correcta</h5>
                        <p class="text-muted mb-0">Transmite la imagen idónea, respetanto la esencia de tu persona.
                        </p>
                    </div>
                    <div class="col-md-4 mb-5 mb-md-0">
                        <div class="p-3 bg-dark rounded-4 shadow-2-strong d-inline-block mb-4 ch-bg pointer"
                            onclick="location.href='#contacto';"> <i
                                class="fa-solid fa-person-rays fa-lg text-white"></i>
                        </div>
                        <h5 class="fw-bold mb-3">La actitud correcta</h5>
                        <p class="text-muted mb-0">Abraza tu estilo con una actitud arrolladora y única.</p>
                    </div>
                    <div class="col-md-4 mb-5 mb-md-0">
                        <div class="p-3 bg-dark rounded-4 shadow-2-strong d-inline-block mb-4 ch-bg pointer"
                            onclick="location.href='#contacto';"> <i
                                class="fa-solid fa-hand-holding-hand fa-lg text-white"></i>
                        </div>
                        <h5 class="fw-bold mb-3">Las manos correctas</h5>
                        <p class="text-muted mb-0">Nosotros seremos el equipo que necesitas para lograr esto y más.</p>
                    </div>
                </div>
            </section>
        </section>
        <!---->
    </div>
    <div class="spaceDivSastre">
        <div class="overlaySastre">
            <div class="container text-white text-center">
                <h3>
                    TENEMOS ESPECIAL CUIDADO, <br> PORQUE SE TRATA DE TU PERSONA.
                </h3>
                <button type="button" class="btn btn-rounded text-white btn-lg ch-bg btn-dark"
                    onclick="location.href='#contacto';">Contacta a nuestro equipo de expertos</button>
            </div>
        </div>
    </div>
    <div data-draggable="true" class="davidHacherStory">
        <!---->
        <!---->
        <section draggable="false" class="container pt-5" data-v-271253ee="">
            <section class="">
                <!-- Jumbotron -->
                <div class="container py-4">
                    <div class="row g-0 align-items-center">
                        <div class="col-lg-6 mb-5 mb-lg-0">
                            <div class="card cascading-right"
                                style=" background: hsla(0, 0%, 100%, 0.55); backdrop-filter: blur(30px); z-index: 1; ">
                                <div class="card-body p-lg-5 shadow-5">
                                    <h2 class="fw-bold"> <span class="">David Hacher</span> </h2>
                                    <p class="fw-bold" style="color: grey;">Asesor de imagen</p>
                                    <br>
                                    <p class="text-muted">
                                        Ayudo a las personas a sentirse bien consigo mismas, empodero sus ideas y les
                                        apoyo para transmitirlas a través de una de sus herramientas más importantes:
                                        <br>La imagen.
                                    </p>
                                    <p class="text-muted">
                                        "Yo quiero que te sientas cómodo contigo mismo y que comiences a ver tu armario
                                        como una oportunidad, para obtener todo lo que quieres en tu vida."
                                    </p>
                                    <ul
                                        class="list-unstyled d-flex justify-content-center justify-content-md-start mb-0">
                                        <li> <i class="fas fa-star fa-sm" style="color: #D42930;"></i> </li>
                                        <li> <i class="fas fa-star fa-sm" style="color: #D42930;"></i> </li>
                                        <li> <i class="fas fa-star fa-sm" style="color: #D42930;"></i> </li>
                                        <li> <i class="fas fa-star fa-sm" style="color: #D42930;"></i> </li>
                                        <li> <i class="fas fa-star fa-sm" style="color: #D42930;"></i> </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 mb-5 mb-lg-0"> <img src="/assets/images/davidPic.jpg"
                                class="w-100 rounded-4 shadow-4 rotate-lg-6" alt="" aria-controls="#picker-editor">
                        </div>
                    </div>
                </div> <!-- Jumbotron -->
            </section>
        </section>
        <!---->
    </div>
    <div id="contacto">
        <div data-draggable="true" style="position: relative;">
            <!---->
            <!---->
            <section draggable="false" class="container pt-5" data-v-271253ee="">
                <section class="mb-10 text-center">
                    <style>
                        hr.divider-vertical {
                            position: absolute;
                            right: 0;
                            top: 0;
                            width: 1px;
                            background-image: linear-gradient(180deg, transparent, hsl(0, 0%, 40%), transparent);
                            background-color: transparent;
                            height: 100%;
                        }
                    </style> <!-- Background image -->
                    <div class="p-5 bg-image"
                        style="background-image: url(/assets/images/abrigoRojo.jpg); height: 373px; background-size: cover; background-position: 50% 6%;"
                        aria-controls="#picker-editor"></div> <!-- Background image -->
                    <div class="card mx-4 mx-md-5 shadow-5-strong"
                        style=" margin-top: -100px; background: hsla(0, 0%, 100%, 0.8); backdrop-filter: blur(30px); ">

                        <div class="card-body py-5 px-md-5">
                            <div class="row text-center">
                                <h3>CONTACTA A NUESTRO EQUIPO</h3> <br> <br> <br>
                            </div>
                            <div class="row mb-5 redeSocialesDiv2">
                                <div class="col-lg-3 col-md-6 mb-5 mb-lg-0 position-relative">
                                    <!-- Facebook -->
                                    <a class="btn btn-primary btn-floating m-1" style="background-color: #3b5998;"
                                        href="#!" role="button"><i class="fab fa-facebook-f"></i></a>
                                    <hr class="divider-vertical d-none d-lg-block">
                                </div>
                                <div class="col-lg-3 col-md-6 mb-5 mb-lg-0 position-relative">
                                    <!-- Twitter -->
                                    <a class="btn btn-primary btn-floating m-1" style="background-color: #55acee;"
                                        href="#!" role="button"><i class="fab fa-twitter"></i></a>
                                    <hr class="divider-vertical d-none d-lg-block">
                                </div>
                                <div class="col-lg-3 col-md-6 mb-4 mb-lg-0 position-relative">
                                    <!-- Instagram -->
                                    <a class="btn btn-primary btn-floating m-1" style="background-color: #ac2bac;"
                                        href="#!" role="button"><i class="fab fa-instagram"></i></a>
                                    <hr class="divider-vertical d-none d-lg-block">
                                </div>
                                <div class="col-lg-3 col-md-6 mb-4 mb-lg-0 position-relative">
                                    <!-- Linkedin -->
                                    <a class="btn btn-primary btn-floating m-1" style="background-color: #0082ca;"
                                        href="#!" role="button"><i class="fab fa-linkedin-in"></i></a>
                                </div>
                            </div>
                            <div class="row d-flex justify-content-center">
                                <div class="col-lg-6">
                                    <form action="/ajax/email" method="POST" onsubmit="return submitEmailForm(this);">
                                        <!-- Name input -->
                                        <div class="form-outline mb-4"> <input type="text" id="form4Example1"
                                                class="form-control formInput" name="name" required> <label
                                                class="form-label" for="form4Example1"
                                                style="margin-left: 0px;">Nombre</label>
                                            <div class="form-notch">
                                                <div class="form-notch-leading" style="width: 9px;"></div>
                                                <div class="form-notch-middle" style="width: 42.4px;"></div>
                                                <div class="form-notch-trailing"></div>
                                            </div>
                                        </div> <!-- Email input -->
                                        <div class="form-outline mb-4"> <input type="email" id="form4Example2"
                                                class="form-control formInput" name="email" required>
                                            <label class="form-label" for="form4Example2"
                                                style="margin-left: 0px;">Correo electrónico</label>
                                            <div class="form-notch">
                                                <div class="form-notch-leading" style="width: 9px;"></div>
                                                <div class="form-notch-middle" style="width: 88.8px;"></div>
                                                <div class="form-notch-trailing"></div>
                                            </div>
                                        </div> <!-- Message input -->
                                        <div class="form-outline mb-4"> <textarea class="form-control formInput"
                                                id="form4Example3" rows="4" name="message" required></textarea> <label
                                                class="form-label" for="form4Example3"
                                                style="margin-left: 0px;">Servicio de interés</label>
                                            <div class="form-notch">
                                                <div class="form-notch-leading" style="width: 9px;"></div>
                                                <div class="form-notch-middle" style="width: 60px;"></div>
                                                <div class="form-notch-trailing"></div>
                                            </div>
                                        </div>
                                        <!-- Checkbox -->
                                        <div class="form-check d-flex justify-content-center mb-4">
                                            <input class="form-check-input me-2 formInput" type="checkbox" value=""
                                                id="form2Example33" required />
                                            <label class="form-check-label" for="form2Example33">
                                                Acepto política de privacidad
                                            </label>
                                        </div>
                                        <!-- Submit button -->
                                        <button type="submit" class="btn  btn-dark btn-block"
                                            aria-controls="#picker-editor">Enviar</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </section>
            <!---->
        </div>
    </div>
</div>