<div class="inicioDiv">
    <div data-draggable="true" style="position: relative;">
        <!---->
        <!---->
        <section draggable="false" class="overflow-hidden pt-0" data-v-271253ee="">
            <section class="mb-10">
                <!-- Background image -->
                <div class="p-5 text-center bg-image"
                    style="background-image: url(/assets/images/banner2.jpg); height: 500px; background-size: cover; background-position: 50% 5%; background-color: rgba(0, 0, 0, 0);"
                    aria-controls="#picker-editor"></div> <!-- Background image -->
                <div class="container">
                    <div class="card mx-4 mx-md-5 text-center shadow-5-strong"
                        style=" margin-top: -170px; background: hsla(0, 0%, 100%, 0.7); backdrop-filter: blur(30px); ">
                        <div class="card-body px-4 py-5 px-md-5">
                            <h1 class="display-3 fw-bold ls-tight mb-4"> <span>El poder real,</span> <br>
                                <span class="" style="color: #B97E61;">está en la imagen que transmites.</span>
                            </h1> <a class="btn   btn-lg py-3 px-5 mb-2 mb-md-0 me-md-2" href="#" role="button"
                                aria-controls="#picker-editor" style="background-color: #582F1B; color:wheat">Solicita
                                una asesoría</a> <a class="btn  btn-link btn-lg py-3 px-5 mb-2 mb-md-0"
                                data-ripple-color="primary" href="#" role="button" aria-controls="#picker-editor"
                                style="color: #582F1B;">Saber más</a>
                        </div>
                    </div>
                </div>
            </section>
        </section>
        <!---->
    </div>
    <div data-draggable="true" style="position: relative;">
        <!---->
        <!---->
        <section draggable="false" class="container pt-5" data-v-271253ee="">
            <section class="mb-10 text-center">
                <h2 class="fw-bold mb-7 text-center">En cualquier ocasión</h2>
                <div class="row gx-lg-5">
                    <div class="col-lg-4 col-md-12 mb-6 mb-lg-0">
                        <div class="card shadow-2-strong">
                            <div class="bg-image hover-overlay ripple shadow-4-strong rounded mx-3"
                                data-mdb-ripple-color="light" style="margin-top: -15px"> <img
                                    src="/assets/images/empresarial.jpg" class="img-fluid"
                                    alt="" aria-controls="#picker-editor"> </div>
                            <div class="card-body">
                                <h5 class="card-title">Servicio para empresas</h5> <hr>
                                <p class="card-text">Ut pretium ultricies dignissim. Sed sit amet mi eget urna placerat
                                    vulputate.
                                    Ut vulputate est non quam dignissim elementum. Donec a ullamcorper diam.</p> <a
                                    href="#!" class="btn  btn-primary btn-rounded" aria-controls="#picker-editor">Read
                                    more</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-6 mb-lg-0">
                        <div class="card shadow-2-strong">
                            <div class="bg-image hover-overlay ripple shadow-4-strong rounded mx-3"
                                data-mdb-ripple-color="light" style="margin-top: -15px"> <img
                                    src="/assets/images/personal.jpg" class="img-fluid"
                                    alt="" aria-controls="#picker-editor"> </div>
                            <div class="card-body">
                                <h5 class="card-title">Asesoría personal</h5> <hr>
                                <p class="card-text">Suspendisse in volutpat massa. Nulla facilisi. Sed aliquet diam
                                    orci, nec
                                    ornare metus semper sed. Integer volutpat ornare erat sit amet rutrum.</p> <a
                                    href="#!" class="btn  btn-primary btn-rounded" aria-controls="#picker-editor">Read
                                    more</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-6 mb-lg-0">
                        <div class="card shadow-2-strong">
                            <div class="bg-image hover-overlay ripple shadow-4-strong rounded mx-3"
                                data-mdb-ripple-color="light" style="margin-top: -15px"> <img
                                    src="/assets/images/shopper.jpg" class="img-fluid"
                                    alt="" aria-controls="#picker-editor"> </div>
                            <div class="card-body">
                                <h5 class="card-title">Personal Shopper</h5> <hr>
                                <p class="card-text">Curabitur tristique, mi a mollis sagittis, metus felis mattis arcu,
                                    non
                                    vehicula nisl dui quis diam. Mauris ut risus eget massa volutpat feugiat. Donec.</p>
                                <a href="#!" class="btn  btn-primary btn-rounded" aria-controls="#picker-editor">Read
                                    more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>
        <!---->
    </div>
    <div data-draggable="true" class="">
        <!---->
        <!---->
        <section draggable="false" class="container pt-5" data-v-271253ee="">
            <section class="mb-10">
                <!-- Jumbotron -->
                <div class="container py-4">
                    <div class="row g-0 align-items-center">
                        <div class="col-lg-6 mb-5 mb-lg-0">
                            <div class="card cascading-right"
                                style=" background: hsla(0, 0%, 100%, 0.55); backdrop-filter: blur(30px); z-index: 1; ">
                                <div class="card-body p-lg-5 shadow-5">
                                    <h2 class="fw-bold"> <span class="text-primary">David Hacher</span> </h2>
                                    <p class="fw-bold">Asesor de imagen</p>
                                    <p class="text-muted mb-4">He estado en el negocio del estilo por (años).</p>
                                    <p class="text-muted">
                                        Ayudo a las personas a sentirse bien consigo mismas, empodero sus ideas y les
                                        apoyo para transmitirlas a través de una de sus herramientas más importantes:
                                        <br> El estilo.
                                    </p>
                                    <p class="text-muted">
                                        "Yo quiero que te sientas cómodo contigo mismo y que comiences a ver tu armario
                                        como una oportunidad, para obtener todo lo que quieres en tu vida."
                                    </p>
                                    <ul
                                        class="list-unstyled d-flex justify-content-center justify-content-md-start mb-0">
                                        <li> <i class="fas fa-star fa-sm text-primary"></i> </li>
                                        <li> <i class="fas fa-star fa-sm text-primary"></i> </li>
                                        <li> <i class="fas fa-star fa-sm text-primary"></i> </li>
                                        <li> <i class="fas fa-star fa-sm text-primary"></i> </li>
                                        <li> <i class="fas fa-star fa-sm text-primary"></i> </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 mb-5 mb-lg-0"> <img src="/assets/images/davidPic.jpeg"
                                class="w-100 rounded-4 shadow-4 rotate-lg-6" alt="" aria-controls="#picker-editor">
                        </div>
                    </div>
                </div> <!-- Jumbotron -->
            </section>
        </section>
        <!---->
    </div>
</div>