
.fonts3{
    font-family: 'Roboto', sans-serif !important; 

}
.pointer {
    cursor: pointer;
}
.logoImageDavid{
    max-width: 18% !important;
}
.serviciosDiv{
    margin-top: -7%;
}
.valueProposition{
    margin-top: -3%;
}
.spaceDivSastre{
    height: 16rem;
    background-image: url("/assets/images/sastre.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.overlaySastre{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.541);
    padding-top: 3%;
}
@media(min-width:992px){
    .cascading-right {
        margin-right: -50px;
    }

    .rotate-lg-6 {
        transform: rotate(6deg);
    }
    
}
@media(max-width:991px){
    .logoImageDavid{
        max-width: 48% !important;
    }
    .serviciosDiv{
        margin-top: -31%;
    }
    .valueProposition{
        margin-top: -45%;
    }
    .overlaySastre{
        padding-top: 15%;
    }
    .spaceDivSastre{
        margin-top: -15%;
    }
}